<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body >

<header>
    <%- include('../partials/header'); %>
</header>

    <main>
        <div class="jumbotron">
            <div class="container">
            <h1>This is Home page</h1>
            <p>Welcome to my node home page</p>
            </div>
        </div>
    </main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>